.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #ffffff;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container ul button {
  color: #000000;
  font-family: Tahoma;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 5px 5px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  text-align: left;
}

.container ul button:hover {
  color: #f2de5f;
}

.container ul button img {
  height: 12px;
  width: 12px;
  margin-left: 5px;
}
