.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10%;
}

.containerGrid1 {
  display: grid;
  gap: 30px;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(400px, auto);
  margin-bottom: 30px;
}

.containerGrid2 {
  display: grid;
  gap: 30px;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
  margin-bottom: 30px;
}

.containerGrid3 {
  display: grid;
  gap: 30px;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(400px, auto);
  margin-bottom: 30px;
}

.containerGrid1 img,
.containerGrid2 img,
.containerGrid3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .containerGrid1,
  .containerGrid2,
  .containerGrid3 {
    gap: 20px;
    grid-gap: 20px;
    grid-auto-rows: minmax(200px, auto);
  }
}

@media screen and (max-width: 640px) {
  .container {
    margin: 0;
  }
  .containerGrid1,
  .containerGrid2,
  .containerGrid3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-gap: 10px;
    margin-bottom: 10px;
  }
}
