.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15%;
}

.containerGrid1 {
  display: grid;
  gap: 30px;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(400px, auto);
  margin-bottom: 30px;
}

.containerGrid2 {
  display: grid;
  gap: 110px;
  grid-gap: 110px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
  margin-bottom: 30px;
}

.containerGrid3 {
  display: grid;
  gap: 30px;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(400px, auto);
  margin-bottom: 30px;
}

.containerGrid1 img,
.containerGrid2 img,
.containerGrid3 img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
